<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <title>Admin</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--       <link rel="stylesheet" href="../assets/css/style.css"></link>-->
      <link rel="stylesheet" href="/admin/css/style.css">
  </head>

</head>
<body >
    
            <!-- nav -->
 <nav  class="navbar navbar-expand-lg navbar-light px-5" style="background-color: #212020;">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
    
    <div class="user-cart">


        <a href="/logout" style="text-decoration:none;">
            <i class="fa fa-sign-in mr-5" style="font-size:30px; color:#fff;" aria-hidden="true"></i>
        </a>
    </div>  
</nav>



            <!-- Sidebar -->
            <div class="sidebar" id="mySidebar" >
                <div class="side-header">
                    <img src="/admin/images/logo.png" width="120" height="120" alt="Swiss Collection">
                    <h5 style="margin-top:10px;">Hello, Admin</h5>
                </div>
                <hr style="border:1px solid; background-color:#212020; border-color:#3B3131;">
                <a href="/dashboard" ><i class="fa fa-home"></i> Dashboard</a>
                <a href="/admin/customers"   ><i class="fa fa-users"></i> Customers</a>
                <a href="/admin/categories"   ><i class="fa fa-th-large"></i> Category</a>
                <a href="/admin/products"  ><i class="fa fa-th"></i> Products</a>
                <a href="/admin/orders" ><i class="fa fa-list"></i> Orders</a>

                <!---->
            </div>
     
    <div id="main">
        <button class="openbtn" onclick="openNav()"><i class="fa fa-home"></i></button>
    </div>
    

    <div id="main-content" class="container allContent-section py-4">
        <div class="row">
            <div class="col">
              
<div id="ordersBtn" >
  <h2>Order Details</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>O.N.</th>
            <th>Customer</th>
            <th>Address</th>
            <th>Order Date</th>
            <th>Actions</th> <!-- New column for the button -->
        </tr>
        </thead>
        <tbody id="orderTableBody">
        <!-- Orders will be dynamically added here -->
        <tr th:each="orderDto : ${allOrders}">
            <td th:text="${orderDto.orderId}"></td>
            <td th:text="${orderDto.userName}"></td>
            <td th:text="${orderDto.address}"></td>
            <td th:text="${orderDto.orderDated}"></td>
            <td> <!-- Actions column -->
                <button class="btn btn-link" type="button" data-toggle="collapse" th:data-target="'#productsCollapse' + ${orderDto.orderId}" aria-expanded="false" aria-controls="'productsCollapse' + ${orderDto.orderId}">
                    Show Products
                </button>
            </td>
        </tr>
        <!-- Sub-rows for order products -->
        <tr th:each="orderDto : ${allOrders}">
            <td colspan="5"> <!-- Spanning all columns -->
                <div class="collapse" th:id="'productsCollapse' + ${orderDto.orderId}">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Product Description</th>
                            <!-- Add more columns if needed -->
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Iterate over order products and display details -->
                        <tr th:each="product : ${orderDto.products}">
                            <td th:text="${product.productId}"></td>
                            <td th:text="${product.productName}"></td>
                            <td th:text="${product.productDescription}"></td>
                            <!-- Add more columns if needed -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

            </div>
        </div>

    </div>

    <script type="text/javascript" src="../assets/js/ajaxWork.js"></script>
    <script type="text/javascript" src="../assets/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
 
</html>
























